<div class="container">

  <%= render 'application/title' %>
  <div class="potluck-user-greeting text-muted">Welcome, <%=current_user.name%>!</div>

  <div class="row">
    <div class="col-sm-8 border-right">
      <div class="row potlucks-box">
        <div class="col-sm-12">
          <% @potlucks.each do |potluck| %>
            <div class="row potluck">
              <div class="col-sm-12">
                <div class="row potluck-name"><%= link_to potluck.name, potluck %></div>
                <div class="row"><span class="potluck-details-label">Organizer</span>:&nbsp<span class="potluck-details-content"><%= potluck.organizer.name %></span></div>
                <div class="row"><span class="potluck-details-label">Date</span>:&nbsp<span class="potluck-details-content"><%= potluck.date %></span></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row potlucks-footer"><%=link_to('Create New Potluck', new_potluck_path)%></div>

      <div class="row potlucks-footer">
        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
          <input type=submit value='Logout'>
        <% end %>
      </div>
    </div>

</div>
