<div class="container">
  <div class="row potluck-show-box">
    <div class="col-sm-12">
      <div class="row potluck-name"><%= link_to @potluck.name, @potluck %></div>
      <div class="row"><span class="potluck-details-label">Organizer</span>:&nbsp<span class="potluck-details-content"><%= @potluck.organizer.name %></span></div>
      <div class="row"><span class="potluck-details-label">Date</span>:&nbsp<span class="potluck-details-content"><%= @potluck.date %></span></div>
      <div class="row"><%=link_to('Edit', edit_potluck_path(@potluck))%></div>
      <div class="row">
        <%= form_tag potluck_path(@potluck), method: "delete" do %>
          <input type=submit value='Delete'>
        <% end %>
      </div>

      <% if @potluck.items.length == 0 %>
        There are currently no items for this potluck.
      <% else %>
        Items:
        <ul>
          <% @potluck.items.each do |item| %>
            <li>
               <%=item.user.name%> is bringing <%= link_to item.name, potluck_item_path(item) %>.
            </li>
          <% end %>
        </ul>
      <% end %>
      <br>
      <%= link_to "Add New Item", new_potluck_item_path(@potluck) %>
    </div>
  </div>
</div>
