<div class="container">

  <%= render 'application/title' %>

  <div class="row potluck-show">
    <div class="col-sm-6 border-right">
      <div class="row potluck-show-box">
        <div class="col-sm-12">
          <div class="row potluck-name"><%= link_to @potluck.name, @potluck %></div>
          <div class="row"><span class="potluck-details-label">Organizer</span>:&nbsp<span class="potluck-details-content"><%= @potluck.organizer.name %></span></div>
          <div class="row"><span class="potluck-details-label">Date</span>:&nbsp<span class="potluck-details-content"><%= @potluck.date %></span></div>
          <div class="row edit-potluck-link"><%=link_to('Edit', edit_potluck_path(@potluck))%></div>
          <div class="row">
            <%= form_tag potluck_path(@potluck), method: "delete" do %>
            <input type=submit value='Delete'>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row items-show-box">
        <div class="col-sm-12">
          <div class="row potluck-show-item-headlines">ITEMS</div>
          <% if @potluck.items.length == 0 %>
            <div class="row">There are currently no items for this potluck.</div>
          <% else %>
            <%= render 'items/items' %>
          <% end %>
          <div class="row add-new-item-link">
            <div class="col-sm-12">
              <%= form_for ([@potluck, @item]) do |f| %>
              <div class="row"><%= f.text_field :name %></div>
              <div class="row"><%= f.submit %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
