<%= render 'application/title' %>
<div class="container">
  <div class="row justify-content-center new-user-form">
    <%= form_for(@user) do |f| %>
      <div class="row"><%= f.text_field :name, placeholder: "Your Name", size: 40 %></div>
      <div class="row"><%= f.text_field :email, placeholder: "Email", size: 40 %></div>
      <div class="row"><%= f.password_field :password, placeholder: "Password", size: 40 %></div>
      <div class="row create-account-button-row"><%= f.submit "Create Account" %></div>
    <% end %>
  </div>
  <% if flash[:error] %>
    <div class="row justify-content-center user-flash-error"><%= flash[:error] %></div>
  <% end %>
</div>
